---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
            <div id="gitalk-container">
                
            </div>
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
<script>
    const gitalk = new Gitalk({
        clientID: 'c0c3e2dad65f23f5c7a7',
        clientSecret: 'bb1b0bd4d8b0158a224963b5d2b38f38d1c2e33d',
        repo: 'suliveevil.github.io',
        owner: 'suliveevil',
        admin: ['suliveevil'],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: true  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
</script>
